# --- Visual Studio ---
.vs/
x64/
Debug/
Release/
ipch/
*.suo
*.user
*.userosscache
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.log

# --- Build outputs ---
[Bb]in/
[Oo]bj/

# --- Backup files ---
*.tmp
*.bak
*.swp
*.ncb
*.opensdf

# --- System files ---
.DS_Store
Thumbs.db
